<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        <%= title %>
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/account.css">
    <link rel="stylesheet" href="./stylesheets/global.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>

    <%- include('./partials/header') %>
        <section class="main">
            <div class="form">
                <h1>Meus Dados</h1>
                <form class="mb-4" id="account-form">
                    <div class="row col-sm-12">
                        <div class="col-sm-12">
                            <label for="razaoSocial">Nome ou Razão Social:</label>
                            <input type="text" name="razaoSocial" id="razaoSocial" data-min-length="2" required value="<%= razao_social %>">
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-6">
                            <label for="responsavel">Nome Completo do Responsável:</label>
                            <input type="text" name="responsavel" id="responsavel" required value="<%= responsavel %>">
                        </div>

                        <div class="col-sm-6">
                            <label for="cnpj">CNPJ:</label>
                            <input type="text" name="cnpj" id="cnpj" required value="<%= cnpj %>">
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-3">
                            <label for="telefone">Telefone:</label>
                            <input type="phone" name="telefone" id="telefone"  value="<%= telefone %>">
                        </div>

                        <div class="col-sm-5">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" required value="<%= email %>">
                        </div>

                        <div class="col-sm-4">
                            <label for="password">Senha:</label>
                            <input type="password" name="password" id="password" required value="<%= senha %>">
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-2">
                            <label for="cep">CEP:</label>
                            <input type="text" name="cep" id="cep" required value="<%= cep %>">
                        </div>

                        <div class="col-sm-8">
                            <label for="rua">Endereço:</label>
                            <input type="text" name="rua" id="rua" required value="<%= endereco %>">
                        </div>

                        <div class="col-sm-2">
                            <label for="numero">Número:</label>
                            <input type="text" name="numero" id="numero" required value="<%= numero %>">
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-2">
                            <label for="complemento">Complemento:</label>
                            <input type="text" name="complemento" id="complemento" value="<%= complemento %>">
                        </div>

                        <div class="col-sm-4">
                            <label for="bairro">Bairro:</label>
                            <input type="text" name="bairro" id="bairro" required value="<%= bairro %>">
                        </div>

                        <div class="col-sm-4">
                            <label for="cidade">Cidade:</label>
                            <input type="text" name="cidade" id="cidade" required value="<%= cidade %>">
                        </div>

                        <div class="col-sm-2 estado">
                            <label for="UF">Estado:</label>
                            <select id="UF" name="UF">
                                <option value="">Selecione</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espirito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-6">
                            <label for="local">Tipo de Local:</label>
                            <input type="text" name="local" id="local" required placeholder="Ex: Casa, Chácara" value="<%= tipo_local %>">
                        </div>

                        <div class="col-sm-6">
                            <label for="funcionamento">Há quantos anos a sua ONG funciona?</label>
                            <input type="text" name="funcionamento" id="funcionamento" required value="<%= anos_de_funcionamento %>">
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="col-sm-12">
                            <label for="animais">Quantos e quais animais a ONG possui?</label>
                            <input type="text" name="animais" id="animais" required placeholder="Ex: Dez cachorros e dez gatos" value="<%= quantidade_animais %>">
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-4">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="historia">Nos conte a história da ONG</label>
                                <textarea class="form-control" id="historia" rows="12"><%= historia %></textarea>
                            </div>
                        </div>
                    </div>

                    <input class="col-sm-2 mb-4 mt-3" type="submit" name="btn-submit" value="Atualizar">
                </form>
                <h1 class="pets">Dados do(s) meu(s) bichinho(s)</h1>
                <form id="pets-form">
                    <div class="col-sm-12">
                        <div class="row options">
                            <div class="col-sm-6">
                                <label class="container-pet" for="adocao">
                                    Bichinhos para adoção
                                    <input type="checkbox" name="adocao" id="adocao">
                                    <span class="checkmark-pet"></span>
                                </label>
                            </div>

                            <div class="col-sm-6">
                                <label class="container-pet" for="adotados">
                                    Bichinhos adotados
                                    <input type="checkbox" name="adotados" id="adotados">
                                    <span class="checkmark-pet"></span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="col-sm-4">
                            <label for="nome_pet">Nome:</label>
                            <input type="text" name="nome_pet" id="nome_pet" required>
                        </div>

                        <div class="col-sm-3">
                            <label for="tipo_pet">Tipo de pet:</label>
                            <input type="text" name="tipo_pet" id="tipo_pet" required>
                        </div>

                        <div class="col-sm-3">
                            <label for="raca_pet">Raça:</label>
                            <input type="text" name="raca_pet" id="raca_pet" required>
                        </div>

                        <div class="col-sm-2">
                            <label for="porte_pet">Porte:</label>
                            <input type="text" name="porte_pet" id="porte_pet" required>
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="col-sm-2">
                            <label for="cor_pet">Cor:</label>
                            <input type="text" name="cor_pet" id="cor_pet" required>
                        </div>

                        <div class="col-sm-3">
                            <label for="nascimento_pet">Data de Nascimento:</label>
                            <input type="date" name="nascimento_pet" id="nascimento_pet" required>
                        </div>

                        <div class="col-sm-2">
                            <label for="sexo_pet">Sexo:</label>
                            <input type="text" name="sexo_pet" id="sexo_pet" required>
                        </div>
                    </div>
                    <div class="row col-sm-12 justify-content-end">
                        <input class="col-sm-2 mb-4 mt-3" type="submit" name="btn-submit" value="Incluir outro Pet">
                    </div>
                </form>
            </div>
        </section>

        <%- include('./partials/footer') %>
            <script src="./javascripts/header.js"></script>
</body>

</html>