<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/account.css">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="/javascripts/script.js" defer></script>
</head>

<body>
    <%- include('./partials/header') %>
    <% if(erro){ %>
        <div class="alert alert-danger" role="alert">
            <p style="text-align: center;"><%= erro %></p>
        </div>
    <% } else if (sucesso) { %>
        <div class="alert alert-success" role="alert">
            <p style="text-align: center;"><%= sucesso %></p>
        </div>
    <% } %>
        <section class="main">
            <div class="form">
                <h1>Meus Dados</h1>
                <form class="mb-3" id="account-form">
                    <div class="row col-sm-12">
                        <div class="col-sm-12">
                            <label for="nome">Nome Completo:</label>
                            <input type="text" name="nome" id="nome" data-min-length="2" required value="<%= nome %>">
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-4">
                            <label for="email">Email:</label>
                            <input type="email" name="email" id="email" required value="<%= email %>">
                        </div>

                        <div class="col-sm-4">
                            <label for="password">Senha:</label>
                            <input type="password" name="senha" id="password" required value="<%= senha %>">
                        </div>

                        <div class="col-sm-4">
                            <label for="cpf">CPF:</label>
                            <input type="text" name="cpf" id="cpf" required value="<%= cpf %>">
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-3">
                            <label for="data">Data de Nascimento:</label>
                            <input type="date" name="nascimento" id="data" required value="<%= nascimento %>">
                        </div>

                        <div class="col-sm-6">
                            <label for="celular">Celular:</label>
                            <input type="text" name="celular" id="celular" required value="<%= celular %>">
                        </div>

                        <div class="col-sm-3">
                            <label for="cep">CEP:</label>
                            <input type="text" name="cep" id="cep" required value="<%= cep %>">
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-5">
                            <label for="rua">Endereço:</label>
                            <input type="text" name="endereco" id="rua" required value="<%= endereco %>">
                        </div>

                        <div class="col-sm-2">
                            <label for="numero">Número:</label>
                            <input type="text" name="numero" id="numero" required value="<%= numero %>">
                        </div>

                        <div class="col-sm-2">
                            <label for="complemento">Complemento:</label>
                            <input type="text" name="complemento" id="complemento" required value="<%= complemento %>">
                        </div>

                        <div class="col-sm-3">
                            <label for="bairro">Bairro:</label>
                            <input type="text" name="bairro" id="bairro" required value="<%= bairro %>">
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-3">
                            <label for="UF">Estado:</label>
                            <select id="UF" name="estado">
                                <option value=""><%= estado %></option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espirito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>

                        <div class="col-sm-6">
                            <label for="local">Tipo de Residência:</label>
                            <input type="text" name="tipo_local" id="local" required placeholder="Ex: Casa, apartamento, chácara" value="<%= tipo_local %>">
                        </div>

                        <div class="col-sm-3">
                            <label for="profissao">Profissão:</label>
                            <input type="text" name="profissao" id="profissao" required value="<%= profissao %>"
                                readonly disabled>
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="col-sm-3">
                            <label for="alergia">Possui alguma alergia ?</label>
                            <input type="text" name="alergias" id="alergia" required value="<%= alergias %>" readonly
                                disabled>
                        </div>

                        <div class="col-sm-4">
                            <label for="crianca">Há crianças em sua residência? Quantas?</label>
                            <input type="text" name="crianca" id="criancas" required value="<%= criancas %>" readonly
                                disabled>
                        </div>

                        <div class="col-sm-4">
                            <label for="pet">Possui outros pets em casa? Quais?</label>
                            <input type="text" name="pet" id="pet" required value="<%= outros_pets %>" readonly
                                disabled>
                        </div>
                    </div>

                    <button class="col-sm-2 mb-2 mt-3 btn btn-light" type="button" data-toggle="modal" data-target="#editModal">
                        <img src="/images/edit_button.svg" alt="Alterar dados">
                        Alterar dados
                    </button>
                    <button class="col-sm-2 mb-2 btn btn-light" type="button" data-toggle="modal" data-target="#passwordModal">
                        <img src="/images/password_button.svg" alt="Alterar senha">
                        Alterar senha
                    </button>
                    <button class="col-sm-2 btn btn-light" type="button" data-toggle="modal" data-target="#deleteModal">
                        <img src="/images/delete_button.svg" alt="Excluir conta">
                        Excluir conta
                    </button>
                </form>
            </div>
            <form action="/accountpf/edit/<%= usuario.id %>?_method=PUT" method="post" id="login-form" class="form">
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Alterar Dados</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col-sm-12">
                                    <label for="nome">Nome Completo:</label>
                                    <input type="text" name="nome" id="nome" data-min-length="2" required value="<%= nome %>">
                                </div>
            
                                <div class="col-sm-12">
                                    <label for="email">Email:</label>
                                    <input type="email" name="email" id="email" required value="<%= email %>">
                                </div>

                                <div class="col-sm-12">
                                    <label for="data">Data de Nascimento:</label>
                                    <input type="date" name="nascimento" id="data" required value="<%= nascimento %>">
                                </div>
                                
                                <div class="col-sm-12">
                                    <label for="cpf">CPF:</label>
                                    <input type="text" name="cpf" id="cpf" required value="<%= cpf %>">
                                </div>
            
                                <div class="col-sm-12">
                                    <label for="celular">Celular:</label>
                                    <input type="text" name="celular" id="celular" required value="<%= celular %>">
                                </div>
        
                                <div class="col-sm-12">
                                    <label for="cep">CEP:</label>
                                    <input type="text" name="cep" id="cep" required value="<%= cep %>">
                                </div>
        
                                <div class="col-sm-12">
                                    <label for="endereco">Endereço:</label>
                                    <input type="text" name="endereco" id="endereco" required value="<%= endereco %>">
                                </div>
            
                                <div class="col-sm-12">
                                    <label for="numero">Número:</label>
                                    <input type="text" name="numero" id="numero" required value="<%= numero %>">
                                </div>
        
                                <div class="col-sm-12">
                                    <label for="complemento">Complemento:</label>
                                    <input type="text" name="complemento" id="complemento" required value="<%= complemento %>">
                                </div>
        
                                <div class="col-sm-12">
                                    <label for="bairro">Bairro:</label>
                                    <input type="text" name="bairro" id="bairro" required value="<%= bairro %>">
                                </div>
        
                                <div class="col-sm-12">
                                    <label for="cidade">Cidade:</label>
                                    <input type="text" name="cidade" id="cidade" required value="<%= cidade %>">
                                </div>
            
                                <div class="col-sm-12">
                                    <label for="UF">Estado:</label>
                                    <select id="UF" name="estado">
                                        <option value="">Selecione</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espirito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </select>
                                </div>
            
                                <div class="col-sm-12">
                                    <label for="tipo_local">Tipo de Residência:</label>
                                    <input type="text" name="tipo_local" id="tipo_local" required
                                        placeholder="Ex: Casa, apartamento, chácara" value="<%= tipo_local %>">
                                </div>
            
                                <div class="col-sm-12">
                                    <label for="profissao">Profissão:</label>
                                    <input type="text" name="profissao" id="profissao" required value="<%= profissao %>">
                                </div>
            
                                <div class="col-sm-12">
                                    <label for="alergia">Possui alguma alergia ?</label>
                                    <input type="text" name="alergia" id="alergia" required value="<%= alergias %>">
                                </div>
            
                                <div class="col-sm-12">
                                    <label for="crianca">Há crianças em sua residência? Quantas?</label>
                                    <input type="text" name="crianca" id="crianca" required value="<%= criancas %>">
                                </div>
        
                                <div class="col-sm-12">
                                    <label for="pet">Possui outros pets em casa? Quais?</label>
                                    <input type="text" name="pet" id="pet" required value="<%= outros_pets %>">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Voltar</button>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form action="/accountpf/password/<%= usuario.id %>?_method=PUT" method="post" id="login-form" class="form">
                <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Alterar Senha</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="col-sm-12">
                                    <label for="senha_antiga">Senha antiga:</label>
                                    <input type="password" name="senha_antiga" id="senha_antiga" required>
                                </div>
                                <div class="col-sm-12">
                                    <label for="nova_senha">Nova senha:</label>
                                    <input type="password" name="nova_senha" id="nova_senha" required>
                                </div>
                                <div class="col-sm-12">
                                    <label for="confirmar_senha">Confirmar nova senha:</label>
                                    <input type="password" name="confirmar_senha" id="confirmar_senha" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Voltar</button>
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form action="/accountpf/delete/<%= usuario.id %>?_method=DELETE" method="post" id="login-form">
                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Excluir Conta</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Tem certeza que deseja excluir sua conta? Essa ação é permanente
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Voltar</button>
                                <button type="submit" class="btn btn-primary">Excluir</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <%- include('./partials/footer') %>

</body>

</html>