<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/global.css">
  <link rel="stylesheet" href="./stylesheets/home.css">
  <link rel="stylesheet" href="./stylesheets/dropdown.css">




    <title><%= title %></title>
</head>

<body>

    <!-- HEADER -->
    <%- include('./partials/header') %>
    
    <!-- ESPAÇO -->
    <div class="space"></div>

    <div class="top-container">
        <h1>Pet Amigo
        </h1>
        <p>Adote um pet <br> para o seu lar</p>
    </div>
    
    <!-- DROPDOWN MENU -->
    <form class="form-home"  method="POST">
    <%- include('./partials/menuPet') %>
    <%- include('./partials/tamanhoPet') %>
    <%- include('./partials/localizacao') %>
    
    <div class="search-container">
        <button type="submit" class="search-box">
                <img src="./images/lupa-icon.svg" alt="">
                Buscar
             </button> 
    </div>
</form>    
   
    <!-- Middle Container -->
    <div class="middle-container">
        <div class="pet-text-container">
            <p  class="p1" >Por que usar o <span class="color">PetAmigo</span>?</p>
            <p class="p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Libero, obcaecati? Est eligendi provident officia quas. 
                Deleniti nemo harum voluptatum eveniet dolorum amet animi 
                optio, molestias dolorem. Animi sit corrupti et?</p>
        </div>
        <div class="pet-img-container">
            <img class="star" src="./images/star.svg" alt="estrela">
            <img class="star2 "src="./images/star.svg" alt="estrela">
            <img src="./images/dog-home.svg" alt="imagem de cachorro">
        </div>
        <div class="trust-container">
            <div class="star-container">
                <p class="p-trust-star">
                    <img src="./images/big-star.svg" alt="estrela grande">Trustpilot
                </p>
            </div>
        
            <p class="p-trust">Baseado em<span class="color">1000</span> reviews no<br>Trust Pilot</p>
            <p class="p-trust">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Incidunt, repellendus totam sequi id, neque dolorem ullam fuga 
                eos sed quo, nam iure reprehenderit deleniti. 
            </p>
            <p class="p-trust p-trust-4 color" >
                <a href="https://br.trustpilot.com/">Visite o site
                    <img src="./images/hand-icon.svg" alt="mãozinha">
                </a>
            </p>
        </div>
        <div class="parceiros">
            <p class="parceiros-p">
                Nossos parceiros:
            </p>
        </div>
    </div>
    
    <div class="feedback">
        <img src="./images/cara-estranho.svg" alt="cara estranho">
    </div>
    
    <!--FOOTER -->
    <%- include('./partials/footer') %>


    <script src="./javascripts/header.js"></script>
    <script src="./javascripts/dropdown.js"></script>

   
</body>
</html>