<!DOCTYPE html>
<html lang="pt-br">
<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./stylesheets/global.css">
  <link rel="stylesheet" href="./stylesheets/home.css">
  <link rel="stylesheet" href="./stylesheets/dropdown.css">



    <title><%= title %></title>
</head>

<body>

    <!-- HEADER -->
    <%- include('./partials/header') %>
    
    <!-- ESPAÇO -->
    <div class="space"></div>

    <div class="top-container">
        <h1>Pet Amigo
        </h1>
        <p>Adote um pet <br> para o seu lar</p>
    </div>
    
    <!-- DROPDOWN MENU -->
    <div class="container">
        <div class="par">
        <p>Pet</p>
    </div>
        <div class="select-box">
            <div class="options-container">
                <% menu.forEach(item => { %>
                <div class="option">
                <img src="./images/pet-icon.svg" alt="icone animal">
              <input
                type="radio"
                class="radio"
                id="<%= item.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "")%>"
                name="<%= item.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "")%>"
              />
              <label for="<%= item.toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "")%>"><%= item%></label>
            <img class="hidden" src="./images/seta-icon.svg" alt="icone seta">

            </div>
            <% });%> 
          </div>  
  
          <div class="selected">
            <img src="./images/pet-icon.svg" alt="icone animal">
            Selecionar
            <img id="seta" src="./images/seta-icon.svg" alt="icone seta">

          </div>
        </div>
      </div>

    <!-- ESPAÇO -->
    <div class="space"></div>
    
    <!--FOOTER -->
    <%- include('./partials/footer') %>


    <script src="./javascripts/header.js"></script>
    <script src="./javascripts/dropdown.js"></script>
</body>
</html>