<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/stylesheets/global.css" />
      <link rel="stylesheet" href="/stylesheets/petsOng.css" />
      <title><%= title %></title>
   </head>
   <body>
      <!-- HEADER -->
      <%- include('./partials/header') %>

      <!--FICHA DOS ANIMAIS-->
      <div class="h1"><h1>Pets para adoção</h1></div>

      <main class="dados-animais-ong">

         <% pets.forEach(pet => { %>
             
            <!-- <img src="../images/search/dog.png" alt="Foto do pet" /> -->
            <div class="dados">
               <div class="campo">
                  <h4>Nome:</h4>
                  <div class="dado">
                     <p><%= pet.nome %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Espécie:</h4>
                  <div class="dado">
                     <p><%= pet.especie %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Raça:</h4>
                  <div class="dado">
                     <p><%= pet.raca %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Tamanho:</h4>
                  <div class="dado">
                     <p><%= pet.tamanho %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Cor:</h4>
                  <div class="dado">
                     <p><%= pet.cor %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Idade</h4>
                  <div class="dado">
                     <p><%= pet.idade %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Sexo:</h4>
                  <div class="dado">
                     <p><%= pet.sexo %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Instituição Responsável:</h4>
                  <div class="dado">
                     <p><%= pet.ongs_pets.razao_social %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>CNPJ:</h4>
                  <div class="dado">
                     <p><%= pet.ongs_pets.cnpj %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Pessoa Responsável:</h4>
                  <div class="dado">
                     <p><%= pet.ongs_pets.responsavel %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Telefone:</h4>
                  <div class="dado">
                     <p><%= pet.ongs_pets.telefone %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Endereço:</h4>
                  <div class="dado">
                     <p><%= pet.ongs_pets.endereco %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Bairro:</h4>
                  <div class="dado">
                     <p><%= pet.ongs_pets.bairro %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Cidade:</h4>
                  <div class="dado">
                     <p><%= pet.ongs_pets.cidade %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Estado:</h4>
                  <div class="dado">
                     <p><%= pet.ongs_pets.estado %></p>
                  </div>
               </div>
               <a href="#"
                  ><button type="button" class="editar">Editar</button></a
               >
            </div>
         </section>
         <% }) %>
         
      </main>

      <!-- FOOTER -->
      <%- include('./partials/footer') %>
      <script src="/javascripts/header.js"></script>
      <script src="/javascripts/info.js"></script>
      <script src="/javascripts/dropdown.js"></script>
   </body>
</html>