<!DOCTYPE html>
<html lang="pt-BR">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/stylesheets/global.css" />
      <link rel="stylesheet" href="/stylesheets/search.css" />
      <title><%= title %></title>
   </head>
   <body>
      <!-- HEADER -->
      <%- include('./partials/header') %>

      <!-- PESQUISA DOS ANIMAIS -->
 
      <!-- ESPAÇO -->
      <div class="space"></div>

      <div class="top-container">
         <h1>Pet Amigo</h1>
         <p>
            Adote um pet <br />
            para o seu lar
         </p>
      </div>

      <!-- DROPDOWN MENU -->
      <!-- <form class="form-home" method="POST"> -->
         
         

         <div class="search-container">
            <button type="submit" class="search-box">
               <img src="./images/lupa-icon.svg" alt="" />
               Buscar
            </button>
         </div>
      </form>
      <!--FICHA DOS ANIMAIS-->
      <main class="dados-animais">
         
         <% pets.forEach( pet =>{ %>

         <section class="ficha">
            <img src="./images/search/dog.png" alt="Foto do pet" />

            <div class="dados">
               <div class="campo">
                  <h4>Nome:</h4>
                  <div class="dado">
                     <p><%= pet.nome %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Espécie:</h4>
                  <div class="dado">
                     <p><%= pet.especie %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Raça:</h4>
                  <div class="dado">
                     <p><%= pet.raca %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Tamanho:</h4>
                  <div class="dado">
                     <p><%= pet.tamanho %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Cor:</h4>
                  <div class="dado">
                     <p><%= pet.cor %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Data de nascimento:</h4>
                  <div class="dado">
                     <p><%= pet.nascimento %></p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Sexo:</h4>
                  <div class="dado">
                     <p><%= pet.sexo %></p>
                  </div>
               </div>
               <a href="#"
                  ><button type="button" class="ver_mais">Ver mais</button></a
               >
            </div>
         </section>
         <% }) %>

            <div class="dados">
               <div class="campo">
                  <h4>Nome:</h4>
                  <div class="dado">
                     <p>Bob</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Espécie:</h4>
                  <div class="dado">
                     <p>Cachorro</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Raça:</h4>
                  <div class="dado">
                     <p>Sem raça definida</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Tamanho:</h4>
                  <div class="dado">
                     <p>Médio porte</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Cor:</h4>
                  <div class="dado">
                     <p>Preto/marrom/branco</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Data de nascimento:</h4>
                  <div class="dado">
                     <p>06/2020</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Sexo:</h4>
                  <div class="dado">
                     <p>Macho</p>
                  </div>
               </div>
               <a href="#"
                  ><button type="button" class="ver_mais">Ver mais</button></a
               >
            </div>
         </section>

         <section class="ficha">
            <img src="./images/search/dog3.png" alt="Foto do pet" />

            <div class="dados">
               <div class="campo">
                  <h4>Nome:</h4>
                  <div class="dado">
                     <p>Bob</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Espécie:</h4>
                  <div class="dado">
                     <p>Cachorro</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Raça:</h4>
                  <div class="dado">
                     <p>Sem raça definida</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Tamanho:</h4>
                  <div class="dado">
                     <p>Médio porte</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Cor:</h4>
                  <div class="dado">
                     <p>Preto/marrom/branco</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Data de nascimento:</h4>
                  <div class="dado">
                     <p>06/2020</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Sexo:</h4>
                  <div class="dado">
                     <p>Macho</p>
                  </div>
               </div>
               <a href="#"
                  ><button type="button" class="ver_mais">Ver mais</button></a
               >
            </div>
         </section>

         <section class="ficha">
            <img src="./images/search/dog4.png" alt="Foto do pet" />

            <div class="dados">
               <div class="campo">
                  <h4>Nome:</h4>
                  <div class="dado">
                     <p>Bob</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Espécie:</h4>
                  <div class="dado">
                     <p>Cachorro</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Raça:</h4>
                  <div class="dado">
                     <p>Sem raça definida</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Tamanho:</h4>
                  <div class="dado">
                     <p>Médio porte</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Cor:</h4>
                  <div class="dado">
                     <p>Preto/marrom/branco</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Data de nascimento:</h4>
                  <div class="dado">
                     <p>06/2020</p>
                  </div>
               </div>
               <div class="campo">
                  <h4>Sexo:</h4>
                  <div class="dado">
                     <p>Macho</p>
                  </div>
               </div>
               <a href="#"
                  ><button type="button" class="ver_mais">Ver mais</button></a
               >
            </div>
         </section>
         

      </main>
      <!-- FOOTER -->
      <%- include('./partials/footer') %>
      <script src="./javascripts/header.js"></script>
      <script src="./javascripts/info.js"></script>
      <script src="./javascripts/dropdown.js"></script>
   </body>
</html>
