<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/account.css">
    <link rel="stylesheet" href="/stylesheets/global.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/header') %>

        <section class="main">
            <div class="form">
                <h1>Cadastrar-se</h1>
                <form id="login-form" method="POST">
                    <div class="col-sm-12">
                        <div class="row options">
                            <div class="col-sm-6 d-flex">
                                <h2 class="col-sm-6">
                                    <label for="fisica" id="pflabel">Pessoa Física</label>
                                </h2>
                                <a class="col-sm-1" href="/signuppf">
                                    <button type="button" class="btn fisica
                                        active"></button>
                                </a>
                            </div>

                            <div class="col-sm-6 d-flex">
                                <h2 class="col-sm-4">
                                    <label for="ong" id="onglabel">ONG</label>
                                </h2>
                                <a class="col-sm-1" href="/signupong">
                                    <button type="button" class="btn ong"></button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="col-sm-12">
                            <label for="nome">Nome Completo:</label>
                            <input
                             type="text"
                             name="nome"
                             id="nome"
                             data-min-length="2"
                             class="<%= locals.errors && errors.nome ? 'is-invalid' : '' %>"
                             value="<%= locals.values && values.nome ? values.nome : '' %>"
                            >
                            <% if(locals.errors && errors.nome) { %>
                                <span class="invalid-feedback">
                                    <%= errors.nome.msg %>
                                </span>
                             <% } %>
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-4">
                            <label for="email">Email:</label>
                            <input
                            type="email" 
                            name="email" 
                            id="email"
                            class="<%= locals.errors && errors.email ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.email ? values.email : '' %>"
                            >
                            <% if(locals.errors && errors.email) { %>
                                <span class="invalid-feedback">
                                    <%= errors.email.msg %>
                                </span>
                             <% } %>
                        </div>

                        <div class="col-sm-4">
                            <label for="password">Senha:</label>
                            <input
                            type="password" 
                            name="senha" 
                            id="password"
                            class="<%= locals.errors && errors.senha ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.senha ? values.senha : '' %>"
                            >
                            <% if(locals.errors && errors.senha) { %>
                                <span class="invalid-feedback">
                                    <%= errors.senha.msg %>
                                </span>
                             <% } %>
                        </div>

                        <div class="col-sm-4">
                            <label for="cpf">CPF:</label>
                            <input
                            type="text" 
                            name="cpf" 
                            id="cpf" 
                            class="<%= locals.errors && errors.cpf ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.cpf ? values.senha : '' %>"
                            >
                            <% if(locals.errors && errors.cpf) { %>
                                <span class="invalid-feedback">
                                    <%= errors.cpf.msg %>
                                </span>
                             <% } %>
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-3">
                            <label for="data">Data de Nascimento:</label>
                            <input 
                            type="date" 
                            name="nascimento" 
                            id="data" 
                            class="<%= locals.errors && errors.nascimento ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.nascimento ? values.nascimento : '' %>"
                            >
                            <% if(locals.errors && errors.nascimento) { %>
                                <span class="invalid-feedback">
                                    <%= errors.nascimento.msg %>
                                </span>
                             <% } %>
                        </div>

                        <div class="col-sm-6">
                            <label for="celular">Celular:</label>
                            <input 
                            type="text" 
                            name="celular" 
                            id="celular"
                            class="<%= locals.errors && errors.celular ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.celular ? values.celular : '' %>" 
                            >
                            <% if(locals.errors && errors.celular) { %>
                                <span class="invalid-feedback">
                                    <%= errors.celular.msg %>
                                </span>
                             <% } %>
                        </div>

                        <div class="col-sm-3">
                            <label for="cep">CEP:</label>
                            <input 
                            type="text" 
                            name="cep" 
                            id="cep"
                            class="<%= locals.errors && errors.cep ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.cep ? values.cep : '' %>" 
                            >
                            <% if(locals.errors && errors.cep) { %>
                                <span class="invalid-feedback">
                                    <%= errors.cep.msg %>
                                </span>
                             <% } %>
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-5">
                            <label for="rua">Endereço:</label>
                            <input 
                            type="text" 
                            name="endereco" 
                            id="rua"
                            class="<%= locals.errors && errors.endereco ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.endereco ? values.endereco : '' %>" 
                            >
                            <% if(locals.errors && errors.endereco) { %>
                                <span class="invalid-feedback">
                                    <%= errors.endereco.msg %>
                                </span>
                             <% } %>
                        </div>

                        <div class="col-sm-2">
                            <label for="numero">Número:</label>
                            <input 
                            type="text" 
                            name="numero" 
                            id="numero"
                            class="<%= locals.errors && errors.numero ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.numero ? values.numero : '' %>" 
                            >
                            <% if(locals.errors && errors.numero) { %>
                                <span class="invalid-feedback">
                                    <%= errors.numero.msg %>
                                </span>
                             <% } %>
                        </div>

                        <div class="col-sm-2">
                            <label for="complemento">Complemento:</label>
                            <input 
                            type="text" 
                            name="complemento" 
                            id="complemento"
                            class="<%= locals.errors && errors.complemento ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.complemento ? values.complemento : '' %>" 
                            >
                            <% if(locals.errors && errors.complemento) { %>
                                <span class="invalid-feedback">
                                    <%= errors.complemento.msg %>
                                </span>
                             <% } %>
                            
                        </div>

                        <div class="col-sm-3">
                            <label for="bairro">Bairro:</label>
                            <input 
                            type="text" 
                            name="bairro" 
                            id="bairro"
                            class="<%= locals.errors && errors.bairro ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.bairro ? values.bairro : '' %>" 
                            >
                            <% if(locals.errors && errors.bairro) { %>
                                <span class="invalid-feedback">
                                    <%= errors.bairro.msg %>
                                </span>
                             <% } %>
                        </div>
                    </div>

                    <div class="row col-sm-12 justify-content-between">
                        <div class="col-sm-4">
                            <label for="cidade">Cidade:</label>
                            <input 
                            type="text" 
                            name="cidade" 
                            id="cidade"
                            class="<%= locals.errors && errors.cidade ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.cidade ? values.cidade : '' %>" 
                            >
                            <% if(locals.errors && errors.cidade) { %>
                                <span class="invalid-feedback">
                                    <%= errors.cidade.msg %>
                                </span>
                             <% } %>
                        </div>

                        <div class="col-sm-2">
                            <label for="UF">Estado:</label>
                            <select 
                            id="UF" 
                            name="estado"
                            class="<%= locals.errors && errors.cidade ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.cidade ? values.cidade : '' %>" 
                            >
                                <option value="">Selecione</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espirito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                            <% if(locals.errors && errors.estado) { %>
                                <span class="invalid-feedback">
                                    <%= errors.estado.msg %>
                                </span>
                             <% } %>
                        </div>

                        <div class="col-sm-6">
                            <label for="local">Tipo de Residência:</label>
                            <input 
                            type="text" 
                            name="tipo_local" 
                            id="local" 
                            placeholder="Ex: Casa, apartamento, chácara"
                            class="<%= locals.errors && errors.tipo_local ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.tipo_local ? values.tipo_local : '' %>"
                            >
                            <% if(locals.errors && errors.tipo_local) { %>
                                <span class="invalid-feedback">
                                    <%= errors.tipo_local.msg %>
                                </span>
                             <% } %>
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="col-sm-2">
                            <label for="profissao">Profissão:</label>
                            <input 
                            type="text" 
                            name="profissao" 
                            id="profissao"
                            class="<%= locals.errors && errors.profissao ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.profissao ? values.profissao : '' %>" 
                            >
                            <% if(locals.errors && errors.profissao) { %>
                                <span class="invalid-feedback">
                                    <%= errors.profissao.msg %>
                                </span>
                             <% } %>
                        </div>

                        <div class="col-sm-3">
                            <label for="alergia">Possui alguma alergia ?</label>
                            <input 
                            type="text" 
                            name="alergias" 
                            id="alergia" 
                            placeholder="Ex: Sim, alergia a pelo de gato"
                            class="<%= locals.errors && errors.alergias ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.alergias ? values.alergias : '' %>"
                            >
                            <% if(locals.errors && errors.alergias) { %>
                                <span class="invalid-feedback">
                                    <%= errors.alergias.msg %>
                                </span>
                             <% } %>
                        </div>

                        <div class="col-sm-4">
                            <label for="crianca">Há crianças em sua residência? Quantas?</label>
                            <input 
                            type="text" 
                            name="criancas" 
                            id="crianca" 
                            placeholder="Ex: Sim, duas"
                            class="<%= locals.errors && errors.criancas ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.criancas ? values.criancas : '' %>"
                            >
                            <% if(locals.errors && errors.criancas) { %>
                                <span class="invalid-feedback">
                                    <%= errors.criancas.msg %>
                                </span>
                             <% } %>
                        </div>

                        <div class="col-sm-3">
                            <label for="pet">Possui outros pets em casa? Quais?</label>
                            <input 
                            type="text" 
                            name="outros_pets" 
                            id="pet" 
                            placeholder="Ex: Sim, dois cachorros"
                            class="<%= locals.errors && errors.outros_pets ? 'is-invalid' : '' %>"
                            value="<%= locals.values && values.outros_pets ? values.outros_pets : '' %>"
                            >
                            <% if(locals.errors && errors.outros_pets) { %>
                                <span class="invalid-feedback">
                                    <%= errors.outros_pets.msg %>
                                </span>
                             <% } %>
                        </div>
                    </div>

                    <div class="row col-sm-12">
                        <div class="row col-sm-10">
                            <label class="container" for="termos">
                                <input
                                type="checkbox" 
                                name="termos" 
                                id="termos"
                                >
                                
                                <span class="checkmark"></span>
                                Eu li e aceito os Termos de uso.
                            </label>
                        </div>
                        <input class="col-sm-2 mb-4 mt-3" type="submit" name="btn-submit" value="Cadastrar-se">
                    </div>
                </form>
            </div>
        </section>
        <%- include('./partials/footer') %>

</body>

</html>